:root {
  --primary-color: #5bb462;
  --primary-dark: #4f9c55;
  --secondary-color: #ffea00;
  --secondary-dark: #e3d002;
  --overlay: rgba(0, 0, 0, 0.7);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Aplica el estilo de barra a todo el sitio */
::-webkit-scrollbar {
  width: 16px; /* Ancho de la barra */
}

::-webkit-scrollbar-track {
  background: #f0f0f0; /* Color de fondo del track */
  border-radius: 10px; /* Bordes redondeados del track */
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, #000000, #4d4d4d); /* Degradado en la barra */
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Sombra elegante */
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(45deg, #014288, #0082b3); /* Color al pasar el cursor */
}

/* Opcional: Aplica un estilo a las barras en el eje horizontal */
::-webkit-scrollbar:horizontal {
  height: 10px; /* Altura de la barra horizontal */
}

::-webkit-scrollbar-thumb:horizontal {
  background: linear-gradient(45deg, #007bff, #00d4ff); /* Degradado horizontal */
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.2rem;
  line-height: 1.2;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.button {
  padding: 17px 28px;
  font-size: 1.2rem;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background: var(--primary-dark);
  border: 1px solid var(--primary-dark);
}

.line {
  display: block;
  width: 40px;
  height: 3px;
  margin: 5px auto;
  background-color: var(--primary-color);
}
